@import url( "http://fonts.googleapis.com/earlyaccess/notosanskr.css" );

html, body { margin: 0; padding: 0; width: 100%; height: 100%; font-family: "Noto Sans KR", sans-serif; line-height: 100%; font-size: 12px; }
h1 {font-family: "Noto Sans KR", sans-serif;}

body { background: #f1f1f1; }

a { color: #000; text-decoration: none; }
a:hover { color: #888; text-decoration: none; }

img { border: none; }

div, span { box-sizing: border-box; }

a, table thead th, table tbody tr {
-webkit-transition: all .5s ease, margin .5s ease;
   -moz-transition: all .5s ease, margin .5s ease;
    -ms-transition: all .5s ease, margin .5s ease;
     -o-transition: all .5s ease, margin .5s ease;
        transition: all .5s ease, margin .5s ease;
}

.width { max-width: 1000px; width: 100%; margin: 0 auto; }
.clear { clear: both; width: 100%; height: 0; overflow: hidden; }
/*.meiryo { font-family: 'Meiryo UI' ,'Nanum Gothic'; }*/
.meiryo { font-family: "Noto Sans KR", sans-serif; }

.font-size14 { font-size: 14px; } 
.font-size11 { font-size: 11px; }
.font-size10 { font-size: 10px; }

#wrap { margin: 0; padding: 0; width: 100%; height: 100%;}
#inner-wrap { clear: both;}

#header { padding: 60px 20px 45px 15px; background: #19B5FE; border-bottom: 3px solid #19B5FE; box-shadow: 0 0 10px #19B5FE; }
/* text-shadow: 1px 1px #222; */


#logo  { float: left; margin-left: 12px; font-weight: bold; color: #fff; }
#logo h1 { margin: 0; padding: 0; font-size: 24px; }
#logo h1 a { color: inherit;}
#logo h1 a:hover { color: #ccc; }

#nav { float: right; font-size: 13px; margin-right: 10px;}
#nav a { color: #fff; }
#nav a:hover { color: #ccc; }
#nav ul { padding: 0; margin: 0; }
#nav ul li  { float: left; list-style: none; margin-left: 15px; }
#nav ul li.first { margin-left: 0; }



#article { padding: 0 10px; overflow: hidden}

#article .error { padding: 50px 0; text-align: center; line-height: 200%; }

#article #inner-wrap { margin-top: 20px; border-top: 3px solid #D91E18; padding: 0 10px; border-bottom: 1px solid #ddd; background: #fff; position: relative; }
/* #footer #adsense { margin-top: 20px; border-top: 2px solid #555; padding: 20px 10px; border-bottom: 1px solid #ddd; background: #fff; position: relative; } */

#pluginWrap { position: absolute; z-index: 12; top: -2px; right: 0;  box-shadow: 0 0 5px #D91E18;}

#pluginWrap button { margin: 0; padding: 0; float: left; background-color: #D91E18; border: none; color: white; text-align: center; text-decoration: none; display: inline-block; font-size: 12px; width: 120px; height: 40px;}
#pluginWrap button:hover {background-color: #F22613;}


/*
#pluginWrap { position: absolute; z-index: 12; top: -2px; left: 0; color: #eee; }
#pluginWrap a { color: #eee; }
#pluginWrap a:hover { color: #fff; }
#pluginWrap ul { margin: 0; padding: 0; float: left; list-style: none; background: #c0392b; }
#pluginWrap ul li { float: left; cursor: pointer; padding: 10px; }
#pluginWrap ul#plugin { background: #e74c3c; }
*/

#location { padding: 12px 5px 0 0; line-height: 160%; margin-bottom: 12px;}
#location b {background: #D91E18; border-radius: 3px; display: inline-block; color: white; padding: 0.5em 0.5em 0.5em 0.5em;}
#location a { margin: 0 3px; background: #4183D7; color: white; padding: 3px 5px; border-radius: 5px; display: inline-block; }
#location a:hover { background-color: #446CB3; }

table { width: 100%; margin-top: 6px; border-top: 1px solid #999; }
table .checkbox { width: 30px; text-align: center; }
table .name { text-align: left; word-break: break-all; line-height: 180%; }
table .size { width: 100px; text-align: center; }
table .date { width: 130px; text-align: center; }
table .mobile {width: 130px; text-align: center; }
table .address { width: 30px; text-align: center; color: inherit;}
table .address img { vertical-align: middle; width: 23px;}
table .address button {border: none; color: white; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-appearance:none;}
table thead th { height: 40px; padding-top: 4px; border-bottom: 1px solid #ddd; cursor: pointer; }
table thead th:hover,
table tbody tr:hover { background: #f9f9f9; }
table tr.folder > .name { font-weight: bold; }
table tr.folder { background: #f9f9f9; }
table tr.folder:hover { background: #f5f5f5; }
table tbody td { padding: 12px 0 10px; border-bottom: 1px solid #f1f1f1; }
table tbody td.name { cursor: pointer; }


#nav2 {background-color: #22313F;}
#nav2 ul{margin-top: 10px; list-style: none; padding-left: 5px; padding-right: 5px;}
#nav2 ul li {float:none; margin: 7px 5px 7px 5px; border-bottom: 1px solid #336E7B; padding-left: 5px; height: 40px; width: 163px;}
#nav2 ul li a { margin-left: 8px; color: #E4F1FE; display: block; font-size: 15px; line-height: 40px;}
#nav2 ul li h1 { margin-left: 12px; color: white; display: block; font-size: 15px; line-height: 40px;}
#nav2 ul li#addons { background-color: #F62459; border-bottom: none; margin-top: 30px; border-radius: 5px;}
#nav2 ul li#logout { border: 1px solid #E4F1FE; border-radius: 5px; height: 30px; padding-left: 0; text-align: center;}
#nav2 ul li#logout a {font-size: 12px; line-height: 30px; margin-left: 0;}
#nav2 ul li#login { border: 1px solid #E4F1FE; border-radius: 5px; height: 80px; width: 80px; margin: 100px auto; text-align: center; padding-left: 0;}
#nav2 ul li#login a {font-size: 14px; line-height: 80px; margin-left: 0;}

#article > #web {width: auto; position: absolute; top: 139px; right: 35px;}

#footer { width: 100%; text-align: center; font-size: 11px; padding: 0 10px 50px; }
#footer span { display: block; line-height: 200%; }
#footer > #adsense {margin-top: 20px; margin-bottom: 20px; }

#credits {display: none;}

@media all and (max-width: 1500px) {
    #article > #web { display: none; }
}

@media all and (min-width: 1024px) {
    #disqus_thread { width: 1000px; margin: 0 auto; }
    #footer > #adsense {width: 1000px; display: table; margin-left: auto; margin-right: auto; position: relative;}
}

@media all and (max-width: 800px) {
	#logo { float: none; }
	#logo h1 { text-align: center; }
    
	#nav { display: none; }
	#pluginWrap {display: none;}
    table .date, table .size { display: none; }
    #article > #web { display: none; }
    
}
@media all and (min-width: 960px) {
	#nav { display: block !important; }
    table .mobile {display: none;}
}
.dropdown-menu {
  position: absolute;
  z-index: 9999999;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transform: translateY(-20px) scale(0.93);
  transform: translateY(-20px) scale(0.93);
  border-radius: 3px; }
  .dropdown-menu.dropdown-opened {
    opacity: 1;
    -webkit-transform: none !important;
    transform: none !important; }
  .dropdown-menu.fixed {
    position: fixed; }
  .dropdown-menu.dropdown-anchor-left-top, .dropdown-menu.dropdown-anchor-left-center, .dropdown-menu.dropdown-anchor-left-bottom {
    -webkit-transform: translateX(-20px) scale(0.93);
    transform: translateX(-20px) scale(0.93); }
  .dropdown-menu.dropdown-anchor-right-top, .dropdown-menu.dropdown-anchor-right-center, .dropdown-menu.dropdown-anchor-right-bottom {
    -webkit-transform: translateX(20px) scale(0.93);
    transform: translateX(20px) scale(0.93); }
  .dropdown-menu .dropdown-anchor {
    border: 7px solid #fff; }
    .dropdown-menu .dropdown-anchor, .dropdown-menu .dropdown-anchor::after {
      position: absolute;
      content: '';
      display: inline-block; }
    .dropdown-menu .dropdown-anchor::after {
      border: 6px solid #fff; }
  .dropdown-menu.dark .dropdown-anchor, .dropdown-menu.dark .dropdown-anchor::after {
    border-color: #32363F; }
  .dropdown-menu.grey-anchor .dropdown-anchor, .dropdown-menu.grey-anchor .dropdown-anchor::after {
    border-color: #f6f6f6; }
  .dropdown-menu.accent-anchor .dropdown-anchor, .dropdown-menu.accent-anchor .dropdown-anchor::after {
    border-color: #e74c3c; }
  .dropdown-menu.dropdown-anchor-top-left:not(.dropdown-overlay-trigger), .dropdown-menu.dropdown-anchor-top-center:not(.dropdown-overlay-trigger), .dropdown-menu.dropdown-anchor-top-right:not(.dropdown-overlay-trigger) {
    margin-top: 10px; }
  .dropdown-menu.dropdown-anchor-top-left .dropdown-anchor, .dropdown-menu.dropdown-anchor-top-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-top-right .dropdown-anchor {
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    top: -14px; }
    .dropdown-menu.dropdown-anchor-top-left .dropdown-anchor::after, .dropdown-menu.dropdown-anchor-top-center .dropdown-anchor::after, .dropdown-menu.dropdown-anchor-top-right .dropdown-anchor::after {
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      margin-top: -5px;
      margin-left: -6px; }
  .dropdown-menu.dropdown-anchor-top-left.dropdown-anchor-top-left .dropdown-anchor, .dropdown-menu.dropdown-anchor-top-center.dropdown-anchor-top-left .dropdown-anchor, .dropdown-menu.dropdown-anchor-top-right.dropdown-anchor-top-left .dropdown-anchor {
    left: 15px; }
  .dropdown-menu.dropdown-anchor-top-left.dropdown-anchor-top-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-top-center.dropdown-anchor-top-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-top-right.dropdown-anchor-top-center .dropdown-anchor {
    left: calc(50% - 7px); }
  .dropdown-menu.dropdown-anchor-top-left.dropdown-anchor-top-right .dropdown-anchor, .dropdown-menu.dropdown-anchor-top-center.dropdown-anchor-top-right .dropdown-anchor, .dropdown-menu.dropdown-anchor-top-right.dropdown-anchor-top-right .dropdown-anchor {
    left: calc(100% - 28px); }
  .dropdown-menu.dropdown-anchor-right-top:not(.dropdown-overlay-trigger), .dropdown-menu.dropdown-anchor-right-center:not(.dropdown-overlay-trigger), .dropdown-menu.dropdown-anchor-right-bottom:not(.dropdown-overlay-trigger) {
    margin-left: -10px; }
  .dropdown-menu.dropdown-anchor-right-top .dropdown-anchor, .dropdown-menu.dropdown-anchor-right-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-right-bottom .dropdown-anchor {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    left: 100%; }
    .dropdown-menu.dropdown-anchor-right-top .dropdown-anchor::after, .dropdown-menu.dropdown-anchor-right-center .dropdown-anchor::after, .dropdown-menu.dropdown-anchor-right-bottom .dropdown-anchor::after {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      margin-left: -7px;
      margin-top: -6px; }
  .dropdown-menu.dropdown-anchor-right-top.dropdown-anchor-right-top .dropdown-anchor, .dropdown-menu.dropdown-anchor-right-center.dropdown-anchor-right-top .dropdown-anchor, .dropdown-menu.dropdown-anchor-right-bottom.dropdown-anchor-right-top .dropdown-anchor {
    top: 11px; }
  .dropdown-menu.dropdown-anchor-right-top.dropdown-anchor-right-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-right-center.dropdown-anchor-right-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-right-bottom.dropdown-anchor-right-center .dropdown-anchor {
    top: calc(50% - 7px); }
  .dropdown-menu.dropdown-anchor-right-top.dropdown-anchor-right-bottom .dropdown-anchor, .dropdown-menu.dropdown-anchor-right-center.dropdown-anchor-right-bottom .dropdown-anchor, .dropdown-menu.dropdown-anchor-right-bottom.dropdown-anchor-right-bottom .dropdown-anchor {
    top: calc(100% - 26px); }
  .dropdown-menu.dropdown-anchor-bottom-left:not(.dropdown-overlay-trigger), .dropdown-menu.dropdown-anchor-bottom-center:not(.dropdown-overlay-trigger), .dropdown-menu.dropdown-anchor-bottom-right:not(.dropdown-overlay-trigger) {
    margin-top: -10px; }
  .dropdown-menu.dropdown-anchor-bottom-left .dropdown-anchor, .dropdown-menu.dropdown-anchor-bottom-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-bottom-right .dropdown-anchor {
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    top: 100%; }
    .dropdown-menu.dropdown-anchor-bottom-left .dropdown-anchor::after, .dropdown-menu.dropdown-anchor-bottom-center .dropdown-anchor::after, .dropdown-menu.dropdown-anchor-bottom-right .dropdown-anchor::after {
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      margin-top: -7px;
      margin-left: -6px; }
  .dropdown-menu.dropdown-anchor-bottom-left.dropdown-anchor-bottom-left .dropdown-anchor, .dropdown-menu.dropdown-anchor-bottom-center.dropdown-anchor-bottom-left .dropdown-anchor, .dropdown-menu.dropdown-anchor-bottom-right.dropdown-anchor-bottom-left .dropdown-anchor {
    left: 15px; }
  .dropdown-menu.dropdown-anchor-bottom-left.dropdown-anchor-bottom-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-bottom-center.dropdown-anchor-bottom-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-bottom-right.dropdown-anchor-bottom-center .dropdown-anchor {
    left: calc(50% - 7px); }
  .dropdown-menu.dropdown-anchor-bottom-left.dropdown-anchor-bottom-right .dropdown-anchor, .dropdown-menu.dropdown-anchor-bottom-center.dropdown-anchor-bottom-right .dropdown-anchor, .dropdown-menu.dropdown-anchor-bottom-right.dropdown-anchor-bottom-right .dropdown-anchor {
    left: calc(100% - 28px); }
  .dropdown-menu.dropdown-anchor-left-top:not(.dropdown-overlay-trigger), .dropdown-menu.dropdown-anchor-left-center:not(.dropdown-overlay-trigger), .dropdown-menu.dropdown-anchor-left-bottom:not(.dropdown-overlay-trigger) {
    margin-left: 10px; }
  .dropdown-menu.dropdown-anchor-left-top .dropdown-anchor, .dropdown-menu.dropdown-anchor-left-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-left-bottom .dropdown-anchor {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    left: -14px; }
    .dropdown-menu.dropdown-anchor-left-top .dropdown-anchor::after, .dropdown-menu.dropdown-anchor-left-center .dropdown-anchor::after, .dropdown-menu.dropdown-anchor-left-bottom .dropdown-anchor::after {
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      margin-left: -5px;
      margin-top: -6px; }
  .dropdown-menu.dropdown-anchor-left-top.dropdown-anchor-left-top .dropdown-anchor, .dropdown-menu.dropdown-anchor-left-center.dropdown-anchor-left-top .dropdown-anchor, .dropdown-menu.dropdown-anchor-left-bottom.dropdown-anchor-left-top .dropdown-anchor {
    top: 11px; }
  .dropdown-menu.dropdown-anchor-left-top.dropdown-anchor-left-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-left-center.dropdown-anchor-left-center .dropdown-anchor, .dropdown-menu.dropdown-anchor-left-bottom.dropdown-anchor-left-center .dropdown-anchor {
    top: calc(50% - 7px); }
  .dropdown-menu.dropdown-anchor-left-top.dropdown-anchor-left-bottom .dropdown-anchor, .dropdown-menu.dropdown-anchor-left-center.dropdown-anchor-left-bottom .dropdown-anchor, .dropdown-menu.dropdown-anchor-left-bottom.dropdown-anchor-left-bottom .dropdown-anchor {
    top: calc(100% - 26px); }
  .dropdown-menu.max-height ul {
    max-height: 184px; }
  .dropdown-menu ul {
    min-width: 120px;
    list-style: none;
    background: #FFF;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 5px 0;
    margin: 0; }
    .dropdown-menu ul li {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 18px; }
      .dropdown-menu ul li > a,
      .dropdown-menu ul li label {
        display: block;
        color: #555;
        text-decoration: none;
        line-height: 18px;
        padding: 5px 15px;
        white-space: nowrap;
        transition: all 0.1s; }
        .dropdown-menu ul li > a svg,
        .dropdown-menu ul li label svg {
          height: 14px;
          width: 18px;
          vertical-align: middle;
          margin-left: -2px;
          margin-right: 4px;
          margin-top: -3px; }
          .dropdown-menu ul li > a svg path, .dropdown-menu ul li > a svg polygon,
          .dropdown-menu ul li label svg path,
          .dropdown-menu ul li label svg polygon {
            transition: fill 0.1s;
            fill: #0b0b0b; }
        .dropdown-menu ul li > a span.greenSVG svg path, .dropdown-menu ul li > a span.greenSVG svg polygon,
        .dropdown-menu ul li label span.greenSVG svg path,
        .dropdown-menu ul li label span.greenSVG svg polygon {
          fill: #B7D968; }
        .dropdown-menu ul li > a .flag,
        .dropdown-menu ul li label .flag {
          padding-bottom: 1px; }
        .dropdown-menu ul li > a:not(.grey):hover, .dropdown-menu ul li > a:hover,
        .dropdown-menu ul li label:not(.grey):hover,
        .dropdown-menu ul li label:hover {
          background-color: #e74c3c;
          color: #FFF;
          cursor: pointer; }
          .dropdown-menu ul li > a:not(.grey):hover svg path, .dropdown-menu ul li > a:not(.grey):hover svg polygon, .dropdown-menu ul li > a:hover svg path, .dropdown-menu ul li > a:hover svg polygon,
          .dropdown-menu ul li label:not(.grey):hover svg path,
          .dropdown-menu ul li label:not(.grey):hover svg polygon,
          .dropdown-menu ul li label:hover svg path,
          .dropdown-menu ul li label:hover svg polygon {
            fill: #fff; }
        .dropdown-menu ul li > a.active,
        .dropdown-menu ul li label.active {
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          cursor: default;
          pointer-events: none;
          color: #999;
          background: #f6f6f6; }
        .dropdown-menu ul li > a.grey:hover,
        .dropdown-menu ul li label.grey:hover {
          cursor: default; }
        .dropdown-menu ul li > a.disabled, .dropdown-menu ul li > a.disabled:hover, .dropdown-menu ul li > a.disabled:active,
        .dropdown-menu ul li label.disabled,
        .dropdown-menu ul li label.disabled:hover,
        .dropdown-menu ul li label.disabled:active {
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
          cursor: default;
          pointer-events: none;
          cursor: default;
          color: #999; }
      .dropdown-menu ul li.title {
        padding: 7.5px 15px;
        background: #f6f6f6;
        color: #999;
        font-family: "Roboto", "Open Sans", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        border: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
        .dropdown-menu ul li.title.grey {
          background: #999;
          color: #e74c3c; }
        .dropdown-menu ul li.title.light {
          background: #f6f6f6;
          color: #fccfa2; }
        .dropdown-menu ul li.title.accent {
          background: #e74c3c;
          color: #fccfa2; }
    .dropdown-menu ul li > a:hover small.grey {
      opacity: 0.75;
      color: #fff; }
    .dropdown-menu ul li:first-child.divider {
      display: none; }
  .dropdown-menu.right-aligned {
    text-align: right; }
    .dropdown-menu.right-aligned ul li a svg {
      margin-right: 0;
      margin-left: 4px; }
  .dropdown-menu .divider {
    height: 1px;
    background: #e0e0e0;
    margin: 5px 1px;
    overflow: hidden; }

@media screen and (max-width: 420px) {
  .dropdown-menu ul li > a {
    line-height: 32px;
    padding-left: 24px;
    padding-right: 24px; } }

/*# sourceMappingURL=jquery.sweet-dropdown.css.map */

.initial-hide{display: none;}

/*
* Slideout.js Script
*/

 
    body {
        width: 100%;
        height: 100%; 
    }

    
    .slideout-menu {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 200px;
      min-height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      z-index: 0;
      display: none;
    }

    .slideout-menu-left {
      left: 0;
    }

    .slideout-menu-right {
      right: 0;
    }

        
    .slideout-open,
    .slideout-open body,
    .slideout-open .slideout-panel {
      overflow: hidden;
    }
    
    
    .slideout-panel {
      position: relative;
      z-index: 1;
      will-change: transform;
      background-color: #FFF; /* A background-color is required */
      min-height: 100vh;   
    }
    
    
    .slideout-open .slideout-menu {
        display: block;
    }

@media screen and (min-width: 800px) {
  .slideout-panel {
    margin-right: 200px;
  }

  .slideout-menu {
    display: block;
  }

}